$colorpoint1: #1ba309;
$colorpoint2: white;

$paddingValue: 20px;

.header {
    background-color: $colorpoint1;
    color: $colorpoint2;
    padding: $paddingValue;
    &__leftside {
        display: inline-block;
        vertical-align: top;
    }
    &__trademark {
        color: $colorpoint2;
        text-decoration: none;
        display: inline-block;
        display: flex;
        align-items: center;
    }
    &__logo {
        height: 30px;
        vertical-align: top;
    }
    &__company {
        font-size: 18px;
        // font-weight: normal;
        margin-left: 10px;
    }
}