@import './../../variables.scss';
$colorpoint2: white;

$paddingValue: 20px;

.header {
    background-color: $mainColor;
    color: $colorpoint2;
    padding: $paddingValue;
    &__leftside {
        display: inline-block;
        vertical-align: top;
        float: left;
    }
    &__rightside {
        float: right;
    }
    &__trademark {
        color: $colorpoint2;
        text-decoration: none;
        display: inline-block;
        display: flex;
        align-items: center;
    }
    &__logo {
        height: 23px;
        vertical-align: top;
    }
    &__company {
        font-size: 18px;
        margin-left: 10px;
    }
}