@import './../../variables.scss';
$color: rgb(255, 244, 146);
.list {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    &__inner {
        margin: 0 10px;
        background: $color;
        border-radius: 6px;
        overflow: hidden;
    }
    &__header {
        padding: 6px 12px;
        position: relative;
    }
    &__shield {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        &--disabled {
            display: none;
        }
    }
    &__name-textarea {
        resize: none;
        border: none;
        background: transparent;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        display: block;
        font-size: 15px;
        padding: 6px 12px;
        font-family: $fontFamily;
        &:focus {
            background: white;
        }
    }
    &__cards {
    }
    &__adding-new {
        font-size: 14px;
        color: rgb(105, 98, 0);
        background: rgba(0, 0, 0, 0.2);
        padding: 12px 24px;
        user-select: none;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.3);
            color: white;
        }
    }
}