.list {
    // float: left;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    &__inner {
        margin: 0 10px;
        padding: 12px;
        background: rgb(255, 244, 146);
        border-radius: 6px;
    }
    &__name {
        font-size: 16px;
        transition: all 0.2s ease;
        // padding: 
        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }
    &__cards {
        // margin-top: ;
    }
    &__adding-new {
        font-size: 14px;
        color: gray;
        background: white;
        padding: 8px 12px;
        border-radius: 6px;
        margin-top: 12px;
        user-select: none;
    }
}