.list {
    // float: left;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    &__inner {
        margin: 0 10px;
        // padding: 12px;
        background: rgb(255, 244, 146);
        border-radius: 6px;
        overflow: hidden;
    }
    &__header {
        padding: 12px 24px;
        // background: red;
        cursor: pointer;
    }
    &__name {
        font-size: 15px;
        transition: all 0.2s ease;
        // padding: 
        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }
    &__cards {
        // margin-top: ;
    }
    &__adding-new {
        font-size: 14px;
        color: rgb(105, 98, 0);
        background: rgba(0, 0, 0, 0.2);
        padding: 12px 24px;
        // margin-top: 12px;
        user-select: none;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.3);
            color: white;
        }
    }
}